<ion-view title="Approve Team">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
                <strong>markdown</strong>has selected the following members for the quest</p>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
        <div>
            <p>do you approve?</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">Yes</button>
            <button class="button button-stable button-block ">No</button>
        </div>
    </ion-content>
</ion-view>