<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      {{ message }}
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Enter username</span>
                <input name="nameInput" ng-model="nameInput" type="text" placeholder="">
            </label>
        </form>
        <button type="submit" ng-click="enterPlayerName(nameInput)" class="button button-stable button-block">Submit</button>
    </ion-content>
</ion-view>