<ion-view title="On Quest">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
        </div>
        <ion-list></ion-list>
        <div>
            <p>The team was
                <strong>approved</strong>by</p>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
        <div>
            <p>The team wa
                <strong>rejected</strong>by</p>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>