<ion-view title="Select Team">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Select
                <strong>2</strong>
            </p>
        </div>
        <form class="list">
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
        </form>
        <button class="button button-stable button-block ">Select Team</button>
    </ion-content>
</ion-view>