    <div class="userInput" style="text-align:center;">
      <div class="voteForTeam" ng-show="gameState.votingForTeam">
        <li class='item'>Would you like this team to go on a quest together?</li>
        <img class="voteYesForTeam" ng-click="voteYesForTeam()" src="/assets/pass.png" style='width:49%; height:auto;'>
        <img class="voteNoForTeam"  ng-click="voteNoForTeam()" src="/assets/no.png" style='width:49%; height:auto;'>
<!-- 
        <button ng-click="voteYesForTeam()">Aye Aye</button>
        <button ng-click="voteNoForTeam()">Nay Nay</button> -->
      </div>

      <div class="voteForQuest" ng-show="gameState.votingForQuest">
      <li class='item'>Would you like this team to go on a quest together?</li>
        <img src="assets/success.png" class="voteYesForQuest" ng-click="voteYesForQuest()" style='width:49%; height:auto;'>
        <img src='assets/fail.png' class="voteNoForQuest" ng-click="voteNoForQuest()" style='width:49%; height:auto;'>


<!--         <button ng-click="voteYesForQuest()">Let us conquer this quest</button>
        <button ng-click="voteNoForQuest()">Quest too hard, I quit</button> -->
      </div>
    </div>
