    <div class="userInput" style="border:2px solid black">
      <h3>Player Input</h3>
      <div class="voteForTeam" ng-show="gameState.votingForTeam" style="border:1px solid black;">
        Would you like this team to go on a quest together?<br>
        <div class="voteYesForTeam" ng-click="voteYesForTeam()"><img src="/assets/pass.png"></div>
        <div class="voteNoForTeam"  ng-click="voteNoForTeam()"><img src="/assets/no.png"></div>
<!-- 
        <button ng-click="voteYesForTeam()">Aye Aye</button>
        <button ng-click="voteNoForTeam()">Nay Nay</button> -->
      </div>

      <div class="voteForQuest" ng-show="gameState.votingForQuest" style="clear:both; border:1px solid black">
        <img src="/assets/success.png"><br>
        <div class="voteYesForQuest" ng-click="voteYesForQuest()">Let us conquer this quest</div>
        <div class="voteNoForQuest" ng-click="voteNoForQuest()"><img src="/assets/fail.png"></div>


<!--         <button ng-click="voteYesForQuest()">Let us conquer this quest</button>
        <button ng-click="voteNoForQuest()">Quest too hard, I quit</button> -->
      </div>
    </div>
